 <section>
        <form class=" ms-4 me-4 my-4">
          <div class="row row-cols-md-4 row-cols-2 ">
            <div class="col" >
              <button class="btn btn-outline-secondary">
                <img src="https://www.countryflags.io/cn/shiny/16.png" class=" img-fluid img-circle">  Chino </button>
            </div>
            <div class="col" scope="row">
              <button class="btn btn-outline-secondary">
                <img src="imagenes/bandera-japonesa.jpg" class=" img-fluid" style="width: 25px;"> Japones
              </button>
            </div>
            <div class="col" scope="row">
              <button class="btn btn-outline-secondary">
                <img src="imagenes/Bandera-del-Reino-Unido.png" class="img-fluid" style="width: 25px;"> Ingles
              </button>
            </div>
            <div class="col mb-4">
              <button class="btn btn-outline-secondary">
                <img src="imagenes/Bandera_de_España.svg.webp"  style="width: 25px;"> Español
              </button>
            </div>
          </div>
          <div class="row">
              <div class="col col-12 mb-4 d-grid gap-2">
                <textarea class="form-control" rows="3" placeholder="Estoy traduciendo este texto con esta maravillosa app!"></textarea>
              </div>
          </div>
          
          <div class="row row-cols-md-4 row-cols-2">
            <div class="col" >
              <button class="btn btn-outline-secondary"><img src="imagenes/china.png" class=" img-fluid img-circle" style="width: 25px;">  Chino </button>
            </div>
            <div class="col" scope="row">
              <button class="btn btn-outline-secondary">
                <img src="imagenes/bandera-japonesa.jpg" class=" img-fluid" style="width: 25px;"> Japones
              </button>
            </div>
            <div class="col" scope="row">
              <button class="btn btn-outline-secondary">
                <img src="imagenes/Bandera-del-Reino-Unido.png" class="img-fluid" style="width: 25px;"> Ingles
              </button>
            </div>
            <div class="col mb-4">
              <button class="btn btn-outline-secondary">
                <img src="imagenes/Bandera_de_España.svg.webp"  style="width: 25px;"> Español
              </button>
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 mb-4">
           <button type="submit" class="btn btn-primary btn-lg">TRADUCIR</button>
        </div>
        <div class="row">
          <div class="col col-12 mb-4 d-grid gap-2">
            <textarea class="form-control" rows="3" placeholder="I'm translating this text with this wonderful app!"></textarea>
          </div>
      </div>
      <div class="btn btn-group col col-12">
        <button type="button" class="btn btn-basic"><i class="bi bi-reply-all"></i></button>
        <button type="button" class="btn btn-basic"><i class="bi bi-stickies"></i></button>
        <button type="button" class="btn btn-basic"><i class="bi bi-x-square"></i></button>
      </div>
        </form>
  </section>
