
<section >  
        <div class="container-fluid" style="margin-top: 80px;">
            <div class="row" >
                <div class="col col-8">
                    <div class="row-cols-1 row-cols-md-3 row-cols-lg-3 row-cols-xxl-3 row">
                        <div class="col">
                            <div class="card" style="background-color: grey;">
                             <img src="imagenes/film1.jpg" class="card-img-top" alt="Proyecto Rampage" > 
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size:3vw">Proyecto Rampage</h5>
                                      <p class="card-text" style="font-size:3vw; font-size: 15px;" >Un gorila, un lobo y una serpiente sufren una mutación genética y se convierten en seres gigantescos y violentos. El primatólogo que cuidaba del gorila y una experta en genética tratan de detenerlos. </p>
                                      <a href="#" class="btn btn-info" style="align-items: auto">Mas Informacion</a>
                                 </div>
                             </div>
                        </div>
                        <div class="col ">
                            <div class="card" style="background-color: grey;">
                                <img src="imagenes/malefica.jpg" class="card-img-top" alt="malefica">
                                <div class="card-body">
                                  <h5 class="card-title" style="font-size:3vw">Malefica</h5>
                                  <p class="card-text" style="font-size:3vw; font-size: 15px;">La joven Maléfica crece para proteger su pacífico reino de 
                                    los invasores, pero una terrible traición transforma su corazón puro en una piedra y la convierte en 
                                    una criatura en busca de venganza.</p>
                                  <a href="#" class="btn btn-info" style="align-items: auto">Mas Informacion</a>
                                </div>
                              </div>
                        </div>
                        <div class="col">
                            <div class="card" style="background-color: grey;">
                                <img src="imagenes/anabelle.jpg" class="card-img-top" alt="Proyecto Rampage">
                                <div class="card-body">
                                <h5 class="card-title" style="font-size:3vw">Annabelle</h5>
                                <p class="card-text" style="font-size:3vw; font-size: 15px;">John Form encuentra el regalo perfecto para Mia, 
                                    su esposa embarazada:una preciosa muñeca antigua llamada Annabelle. 
                                    Una noche,una secta satánica les ataca brutalmente y provocan que un ente maligno se apodere de Annabelle. </p>
                                <a href="#" class="btn btn-info" style="align-items: auto">Mas Informacion</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="background-color: grey;">
                                <img src="imagenes/joker.jpg" class="card-img-top" alt="Proyecto Rampage">
                                <div class="card-body">
                                <h5 class="card-title"style="font-size:3vw">Joker</h5>
                                <p class="card-text" style="font-size:3vw; font-size: 15px;">Arthur Fleck adora hacer reír a la gente, pero su carrera como 
                                comediante es un fracaso. El repudio social, la marginación y una serie de trágicos acontecimientos lo conducen 
                                por el sendero de la locura y, finalmente, cae en el mundo del crimen. </p>
                                <a href="#" class="btn btn-info" style="align-items: auto">Mas Informacion</a>
                                </div>
                            </div>
                        </div>
                        <div class="col ">
                            <div class="card"style="background-color: grey;" >
                                <img src="imagenes/wolverine.jpg" class="card-img-top" alt="Proyecto Rampage">
                                <div class="card-body">
                                <h5 class="card-title" style="font-size:3vw">Wolverine</h5>
                                <p class="card-text" style="font-size:3vw; font-size: 15px;">En Japón y vulnerable por primera vez, Wolverine se enfrenta a un samurái letal de acero y su interior lucha contra su propia inmortalidad. </p>
                                <a href="#" class="btn btn-info" style="align-items: auto">Mas Informacion</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card"style="background-color: grey;" >
                                <img src="imagenes/Aladdin.webp" class="card-img-top" alt="Proyecto Rampage">
                                <div class="card-body">
                                <h5 class="card-title" style="font-size:3vw; ">Aladdin</h5>
                                <p class="card-text" style="font-size:3vw; font-size: 15px;" >Aladdin es un ladronzuelo que se enamora de la hija del Sultán, la princesa Jasmine. Para conquistarla, Aladdin acepta el desafío de Jafar: tendrá que entrar en una cueva en mitad del desierto y conseguir una lámpara mágica en la que vive un genio, quien será el encargado de concederle todos sus deseos. </p>
                                <a href="#" class="btn btn-info" style="align-items: auto">Mas Informacion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-4">
                    
                    <div calss="col">
                        <div class="card" style="background-color: grey;">
                        <img src="imagenes/publicidad.jpg" class="card-img-top img-fluid"  alt="Proyecto Rampage">
                        </div>
                    </div>
                    <div calss="col">
                        <div class="card">
                            <img src="imagenes/pub2.jpg" class="card-img-top img-fluid"  alt="Proyecto Rampage">
                        </div>
                    </div>
                   
                </div>
            </div>   
        </div>
    </section>
   